hr{
  border-width: 30;
}
h1{
  font-size: 18;
  font-weight: bold;
  margin: 0;
}

body {
  background-color: #d4f38d;
  color: #273507;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #ceedea;
  color: #458246;
  border-style: none;
}
input {
  height: 20px;
}
